
.image,.videos{
  width:500px;
  height:300px; 
  border-color: deeppink;
  border-style: solid;
  border-radius: 30px;
  box-shadow:deeppink 0px 0px 10px 10px;
}
 .content{
    background-color: pink;
    padding: 30px;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 55vh;
}
.data{
    background-color: pink;
    padding: 50px;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 75vh;
    width: 92%;
    border-color: deeppink;
    border-style: solid;
    border-radius: 30px;
}
iframe{
    border-color: deeppink;
    border-style: solid;
    border-radius: 30px;
    width: 10000px;
}
.Navbar{
  background-color: deeppink;
  border-radius: 8px;
  color:white;
  padding:3px;
  padding-left:30px;
  margin:1px;
}
