*{
  background-color:pink;
  color:navy;
}
.image,.videos{
  width:500px;
  height:300px; 
  border-color: deeppink;
  border-style: solid;
  border-radius: 30px;
  box-shadow:deeppink 0px 0px 10px 10px;
}
 .content{
    background-color: pink;
    padding: 30px;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 55vh;
    width:100%;
}
.data{
    background-color: pink;
    padding: 50px;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 75vh;
    width: 95%;
}
.Navbar{
  background-color: deeppink !important ;
  border-radius: 8px;
  color:white;
  padding:5px;
  padding-left:30px;
  margin:1px;
  width:140%; 
}

#powered{
  background-color: deeppink;
  color: white;
  border-style: solid;
  border-radius: 7px;
  padding: 50px;
  width: 100%;

}
#airplanelogo{
  width: 45px;
  background-color: deeppink;
}
.Dbbutton{
  background-color:darkviolet;
  color: white;
}
.Dbbutton:hover{
   background-color:rgb(176, 0, 252);
   color: white;
}
.m-2{
  background-color: deeppink !important;
}
.btn-group{
  background-color: deeppink;
}
#homecognosimg{
  width: 400px;
  border-style: solid ;
  border-color: deeppink;
  border-radius: 30px;
  box-shadow: deeppink 0px 0px 15px 6px;
}
#homecognosimgdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px ;
}
#gif{
  width: 350px;
  border-style:solid;
  border-radius: 30px;
  border-color:darkblue;
  box-shadow: blue 0px 0px 10px 7px;
}
#gifdiv{
  display: flex;
  justify-content: center;
  padding: 15px;

}
.text{
  padding-left:40px;
}