*{
  background-color:pink;
}
.image,.videos{
  width:500px;
  height:300px; 
  border-color: deeppink;
  border-style: solid;
  border-radius: 30px;
  box-shadow:deeppink 0px 0px 10px 10px;
}
 .content{
    background-color: pink;
    padding: 30px;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 55vh;
    width:100%;
}
.data{
    background-color: pink;
    padding: 50px;
    display: flex;
    align-items:center ;
    justify-content: center;
    height: 75vh;
    width: 95%;
}
.Navbar{
  background-color: deeppink ;
  border-radius: 8px;
  color:white;
  padding:5px;
  padding-left:30px;
  margin:1px;
  width:100%; 
}

#powered{
  background-color: deeppink;
  color: white;
  border-style: solid;
  border-radius: 7px;
  padding: 50px;

}
#airplanelogo{
  width: 45px;
}